#certificado {
    background-image: url(imagens/fundo.png);
    background-position: right bottom, left top;
    background-repeat: repeat, repeat;
    padding: 15px;
    width: 720px;
    height: 580px;
    align-items: "center";
}